/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

#contact{
  margin-top: 30px;
}

input[type="text"]{
font-family: Open Sans;
font-weight: lighter;
font-size: -18px;
}

#message{
font-family: Open Sans;
font-weight: lighter;
font-size: -18px;
 border-bottom: 0px;
}

#colorsubmit{
  font-family: 'Open Sans';
  color: #ffff;
  font-size: -22px;
  font-weight: bold;
  background: rgba(126, 169, 161, 1);
  border: 0px;
  height: 50px;
  box-shadow: 0px 8px 0px rgba(89, 145, 126, 1);
}

#h1{
    font-family: 'Cookie', cursive;
    font-size: 71px;
    color: #ffff;
    text-align: center;
    line-height: 0.7;
    margin-top:90px;

}

body{
  
	background-image: url('../img/04-BG.png');
	background-repeat: no-repeat;
}


#bgtop{
	height: 60px;
	background:  rgba(185, 218, 204, 1);
  border: 0px;


}

#logo{
	margin-top:10px;
}





.back{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 550px;
  height: 550px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 0px solid #ccc;
  display: table;
}

div.container {
  display: table-cell;
  vertical-align: middle;
}

/*Media Queries*/

@media (max-width: 578px) { 


#h1{
   font-family: 'Cookie', cursive;
    font-size: 50px;
}

  input[type="text"]{
      width: 450px;
}

  #message{
      width: 450px;
}

  #colorsubmit{
    font-family: 'Open Sans';
    width: 450px;
}

}







